@use "../abstracts/variables" as v;

.section-random {
  background-color: v.$color-bg-secondary;
  padding: v.$section-padding-sm;
  height: calc(100vh - (#{v.$header-height} + #{v.$nav-height}));
  display: flex;
  flex-direction: column;
  gap: v.$default-gap;

  &__picture {
    display: block;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.section-finder {
  background-color: v.$color-bg-secondary;
  padding: v.$section-padding-sm;
  min-height: v.$section-height;
  display: flex;
  flex-direction: column;
  gap: v.$default-gap;

  &__form {
    display: flex;
    flex-direction: column;
    gap: v.$default-gap;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
  }

  &__input {
    padding: v.$search-input-padding;
  }
  &__input-label {
    font-size: v.$font-size-sm;
    line-height: 1.6rem;
    text-align: left;
  }

  &__pagination {
  }
  &__pagination-button {
    &--right {
    }
    &--left {
    }
  }
  &__pagination-number {
  }
}

.section-trending {
  background-color: v.$color-bg-secondary;
  padding: v.$section-padding-sm;
  min-height: v.$section-height;
  display: flex;
  flex-direction: column;
  gap: v.$default-gap;
}
