.container {
  display: grid;
  grid-template-columns: 1fr; // Single column for mobile
  grid-template-rows: repeat(
    auto,
    5
  ); // Auto height for header and nav, rest takes remaining space
}
