@use "../abstracts/variables" as v;

.img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: repeat(4, auto);
  grid-auto-rows: auto;
  gap: v.$default-gap;
  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__picture {
    display: block;
  }
}
