// COLORS
$color-bg-primary: #121212;
$color-bg-secondary: #1e1e1e;
$color-text-primary: #ffffff;
$color-text-secondary: #b3b3b3;
$color-accent-primary: #ff69b4;
$color-accent-secondary: #00ff00;
$color-accent-tertiary: #9933ff;

// FONT
$default-font-size: 1.6rem;
